body{
    margin:0em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0em;
}
    header .heading{
        margin: 0px;
        /* background: linear-gradient(#4d39fc,#2c218d); */
        background: linear-gradient(#818085,#313131);
        padding: 0.7em;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    header nav ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        list-style: none;
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    header li {
        width: 100%;
        text-align: center;
        background: #051c81;
        box-shadow: 5px 5px 10px #253ed1 inset, -7px -10px 20px rgb(3, 14, 48) inset;
        padding: 0.8em 1em;
        font-size: large;
    }
    header a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    header li:hover{
        /* background: linear-gradient(135deg,#494949,#292929); */
        /* box-shadow: 5px 6px 10px #9c9c9c inset, -7px -10px 20px rgb(0, 0, 0) inset; */
        background: #253ed1;
        box-shadow: 5px 6px 10px #7085fc inset, -7px -7px 20px rgb(30, 18, 139) inset;
    }

    header li.current{
        background: #ffd000;
        box-shadow: 5px 6px 10px #ffe367 inset, -7px -7px 20px #bb9901 inset;
    }

        /* header li.current a{
            color: #313131;
        } */

/* -------------------------------------------------------------------- */

main {
    margin: 0em;
    padding: 1em;
    background-color: #eee;
}

    main li{
        margin-bottom: 0.5em;
    }

    article{
        margin-bottom: 4em;
    }

    /* aside {
        width: 20%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
    } */

    div.content{
        display: flex;
        flex-wrap: nowrap;
        justify-items: center;

    }

    .info{
        padding: 0px 1em;
        font-style: italic;
        line-height: 1.5em;
        text-align: justify;
    }

    /* ---------------------------------------------------------------------------------------- */

    footer {
        padding: 0.3em 0.5em;
        bottom: 0;  
        background-color: rgb(54, 54, 54);
        color: white;
    }